
table {
  border: 1px #000 solid;
}

table tr {
  border: 1px #0F0 solid;
}

table td {
  padding: 1em;
  border: 1px #00F solid;
}

@media screen and (max-width: 600px) {
  body {
    background: #CCC;
  }

  table {
    width: 100%;
  }
}