<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>backpack-planner (MEAN)</title>

    <link rel="stylesheet" href="dist/styles/main.css">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="dist/scripts/app.min.js"></script>
</head>
<body ng-app="backpackPlannerApp" ng-controller="mainController">

    <h1 ng-bind="rkd"></h1>
    <p>{{ message }}</p>


    <script src="//localhost:35729/livereload.js"></script>
</body>
</html>