<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Grunt for MEAN!</title>

    <link rel="stylesheet" href="src/css/style.less">

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
    <script src="src/scripts/app.js"></script>
    <script src="src/scripts/controllers/MainCtrl.js"></script>
    <!-- <script src="src/scripts/services/TestService.js"></script> -->
</head>
<body ng-app="backpackPlannerApp" ng-controller="mainController">
    This is some cool stuff!

    <p>{{ message }}</p>
</body>
</html>